@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}

h2, h3 {
    color: gray;
}

nav {
    margin-top: 1.5rem;
}

button {
    padding:.3rem;
    border:none;
    background-color: #8eacbc;
    color:#fff;
    font-weight: bold;
    border-radius:.3rem;
    cursor: pointer;
}
button:hover {
    background-color: #7d8a8f;
}

.navButton {
    text-decoration: none;
    padding:.3rem;
    border:none;
    background-color: #8eacbc;
    color:#fff;
    font-weight: bold;
    border-radius:.3rem;
    margin: .4rem;
    border: 1px solid white;
}
.navButton:hover {
    border: 1px solid plum;
    color:white;
}

.panel {
    color: gray;
    position: fixed;
    left: 10;
    bottom: 0;
}

.centered {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
  }

.flex-cont {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-auto-flow: row;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    grid-gap: 1rem;
}
.grid-item {
    padding: 2rem;
}

.input {
    all: initial;
    font-family: inherit;
    padding: .4rem;
    border-bottom: 2px solid lightgray;
    margin: 10px 0 10px;
    width: 100%;
    color: gray;
}
.input:hover, input:focus {
    border-bottom: 2px solid plum;
}
table {
    border-collapse: collapse;
}
table > tbody > tr > th {
    border-bottom: 2px solid lightgray;
}
table > tbody > tr > th:nth-child(1) {
    border-bottom: 2px solid lightgray;
    border-right: 1px solid lightgray;
}
table > tbody > tr > td, th {
    padding: .6rem
}
table > tbody > tr > td:nth-child(1) {
    border-right: 1px solid lightgray;
}

.ankreuzen {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.trash {
    color:  #940d55;
    background-color: white;
    border: solid 1px #940d55;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40vh;
    flex-wrap: wrap;
    margin: auto;
}

.submitbutton {
    position: fixed;
    bottom: 0;
    width: 90%;
    margin: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: x-large;
}